body {
    margin: none;
    font-family:"raleway", sans-serif ;
}
/*ceci est mon header*/
#destok
{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;

}    
header img{
    height: 50px; 
    padding-top: 20px;  
}
ul{    
    display: flex;
    list-style: none;   
    margin-right: none; 
}
ul li{
    margin-right: 20px;
    padding-top: 20px;
}
.bleuclair{
    color: #deebff; 
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #deebff;   
       
}
.bleufonce{
    color: #0065fc;    
}
.mobile {
    display: none;
}
/*Ceci est mon responsive*/
@media screen and ( max-width: 380px)
{
    #destok{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }  
    .hebergement{
        width: 50%;
    }

    .inscrire{
        margin-top: 40px;
        width: 50%;
        text-align: right;      
    
    }
    .heb{
        color: #deebff;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #0065fc;
        padding-bottom: 20px;}
    .ins{
        color: #0065fc;
    }        
    .act{
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #deebff;
        padding-bottom: 20px;
    }
}