body {
    margin: 0px;
    font-family:"raleway", sans-serif ;
    background-color:#ffffff;
}
/*Header Destok*/
.headerdestok{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
.headerdestokdiv1{
    margin-top: 30px;
}
.navul{ 
    display: flex;           
    list-style: none;   
    margin-right: 10px;      
}
.nav1{
    color: #deebff;
    border-top-style: solid;     
    margin-right: 50px; 
    padding-top: 20px;
    text-decoration: blink;
}
.nav1 a
{
    color: #0065fc;
    text-decoration:none;
}
.nav2{
    margin-right: 50px;
    padding-top: 20px;
}
.nav2 a{
    color: black;
    text-decoration: none;
}
.nav3{
    color: #0065fc;
    padding-top: 20px;
    font-weight: bold;
} 
  /*Codage de l'article*/

  article{
      border-style: solid;
      border-color: black;
  }

.articlediv1{
    display: flex;
    align-items: center;
    list-style: none;     
    margin-top: 40px;
    border-style: solid;
    border-color: black;
    }
.articlediv1div1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #deebff;
    width: 50px;
    border-radius: 10px 0px 0px 10px;
}
.articlediv1div2{
    font-weight: bold;
    border-style: solid;
    border-color: #15c6ff;
    border-width: 1px;  
    padding-top: 10px;  
    padding-bottom: 10px;
    border-left: none;
}
.articlediv1div3{
    display: flex;
    justify-content: center; 
    align-items: center;   
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: #0065fc;
    color: white;      
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}
.articlediv2{ 
    display: flex; 
    flex-wrap: wrap;  
    font-weight: bold;    
    justify-content: space-around; 
    padding-top: 20px;   
    border-style: solid;
    border-color: black;
}
.articlediv2div{
    border-style: solid;
    border-color:#0065fc ;
    border-radius: 50px;
    border-width: 2px;
    padding-right: 5px;
}
.articlediv2div:hover{
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
.articlediv2divi{
    margin-right: 10px;
    color: #0065fc;
    border-radius: 50px;
    background-color: #15c6ff;
    padding: 3px;
}
.articlediv3{
    display: flex;
    justify-content: left;
    border-color: black;
    border-style: solid;
    margin-top: 30px;
}
.articlediv3div1{
    color: #0065fc;
}
.articlediv3i{
    border-style: solid;    
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px;
}
input{
    height: 30px;
    text-decoration: none;
}
/*Section 1 du Main*/
.section1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Section 2 du Main*/
.section2{
    border-style: solid;
    border-color: black;
    width: 60%;
    background-color: #deebff;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px; 
    height: auto;   
}
.section2div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;    
}
.section2div2{
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
    width: 175px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px; 
    margin-bottom: 10px;
    box-shadow: 2px 2px 20px #deebff;
}
.section2div3{
    display: flex;
    color: #0065fc;
    width: 175px;    
}
.section2h{
    margin: 0px;
}
.section2p{
    margin: 0px;
}
.section2 h2{
    font-size: medium;
}
.section2img{
    border-radius: 10px 10px 0px 0px;
    width: 175px;
    height: 75px;
}
.section2 i{
    font-size: xx-small;
}
.section2 h4{
    font-size: small;
}
.section2 p{
    font-size: small;
}
.section2 i{
    font-size: xx-small;
}
.section2 p span{
    font-weight: bold;
}
/*Section 3 du Main*/
.section3{
    border-style: solid;
    border-color: black;
    width: 30%;
    background-color: #deebff;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
}
.section3  p span{
    font-weight: bold;
}
.section3{
    padding-top: 10px;
}
.section3div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.section3div1 i{
    font-size: x-large;
}
.section3div3{
    display: flex;
    border-color: black; 
    border-style: solid;   
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    margin: auto;
    margin-top: 35px;
    box-shadow: 2px 2px 20px #deebff;
    padding: 5px;
}
.section3img{
    width: 60px;
    height: 75px;
    border-radius: 10px 0px 0px 10px;
}
.section3div5b{
    display: flex;
    color: #0065fc; 
    margin-top: 10px; 
    font-size: xx-small;
}
.section3 h2{  
     margin: 0px;
}
.section3 h4{
    font-size: smaller;
    margin: 0px;
}
.section3 p{
    font-size: small;
    margin: 0px;
}
/*Section4 du Main*/
.section4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.section4div1{        
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: black;
}
.section4div2{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
    width: 200px;
}
.section4div3{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
    margin-bottom: 20px;
}
.section4div4{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
}
.section4div5{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
}
.section4div6{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
    margin-bottom: 20px;
}
.section4div7{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
}
.section4div2img{
    width: 200px;
    height: 225px;
    border-radius: 10px 10px 0px 0px ;
}
.section4div3img{
    width: 200px;
    height: 150px;
    border-radius: 10px 10px 0px 0px
}
.section4div4img{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px
}
.section4div5img{
    width: 200px;
    height: 275px;
    border-radius: 10px 10px 0px 0px
}
.section4div6img{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px

}
.section4div7img{
    width: 200px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}
.section4 h5{
    margin: 0px 0px 0px 5px;
    font-size: smaller;
}
/*Footer*/
footer{
    background-color: #f0f0f0;  
}
footer ul{
    list-style: none;    
    padding-left: 10px;  
}
.footerb{
    border-style: solid;
    border-color: black;
    width: 250px;
}
.footerc{   
    margin-left: 10px;
}

/*Site web version responsive */
@media screen and ( min-width: 991px)
{   
    .articlediv1div3div2{
        display: none;        
    }
    footer{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and ( min-width: 389px)
{
    .headermobile{
        display: none;
    }
}
@media screen and (max-width: 990px)
 {
    .articlediv1div3div1{
        display: none;
    }
    .articlediv1div3{
        width: 40px;
        border-radius: 10px 10px 10px 10px;        
    }    
}
@media screen and (max-width: 950px) 
 {
        .section2{
        height: auto;
    }
}
@media screen and (max-width: 875px)
{   
    .section3div2{
        margin-top: 100px;
    }
}
@media screen and (max-width: 870px)
{
    
    .section4div1{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
        }
    .section4div1a{
            font-size: smaller;
    }
    .section4div2{
        margin-top: 50px;
    }
    .section4div6{
        margin-top: 20px;
    }
}
@media screen and ( max-width: 850px) and (min-width :451px)
{
    .section3div1 h2{
        font-size: medium;
    }
}
@media screen and ( max-width: 770px) and (min-width : 390px)
{
    .section3div5a{
        font-size: xx-small;
    }
    .section3div5a p{
        font-size: xx-small;
    }   
}
@media screen and ( max-width: 630px)
{
    .section2{
        width: 65%;
    }
}
@media screen and (max-width:600px)and (min-width:390px)
 {
    .section2 h2{
        font-size: medium;
    }
}
@media screen and ( max-width :600px)
{
    .section2{
        height: auto;
        width: 50%;
        margin-right: 10px;
    }
    .section3{
        width: 40%;        
    }
    .section3div1{
        margin-top: 100px;
    }
}
@media screen and ( max-width: 450px)
 {
    .section1{
        width: 100%;
    }
@media screen and (max-width: 450px) and ( min-width : 390px)
{
    .section3div1 h2{
        font-size: small;
    }
}
@media screen and ( max-width: 389px)
{
    .articlediv2{
        width: 80%
    }
    .articlediv2div{
        margin-top: 10px;
    }
   .section1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;        
    }
    .section2{
        width: 95%;
        margin-left: 15px;
        height: auto;
        background-color: #ffffff;
    }  
    .section2img{
        width: 330px;
        height: 150px;
    }
    .section2div2{
        width: 350px;
    }
    .section3{
        width: 100%;   
        margin-left: 20px;
        margin-right: 20px; 
        height: 600px;
    } 
    .section3div2{
        height: 300px;
    }
    .section3img{
        width: 100px;  
    }
    .headermobile{
        display: flex;
        justify-content: space-between;
    }
    .headermobilediv1{
        color: #0065fc;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-color: #0065fc;
        width: 50%;
    }
    .headermobilediv2{
        border-bottom-style: solid;
        border-bottom-color: #deebff;
        text-align: center;
        width: 50%;
    }
    .headermobilediv2div1{
        color: #0065fc;
        font-weight: bold;
    }
    .headermobilediv2div2{
        padding-top: 3px;
    }
    .headermobilediv1 a {
        color: #0065fc;
        text-decoration: none;
    }
    .headermobilediv2div2 a{
        color: black;
        text-decoration: none;
    }
    .section4div1a{
        text-align: left;
    }
    .section4div2{
        width: 350px;
        height: 200px;
    }
    .section4div2img{
        width: 350px;
        height: 150px;
    }
    .section4div3{
        margin-top: 10px;
        width: 350px;
        height: 200px;
    }
    .section4div4{
        height: 200px;
    }
    .section4div4img{
        width: 350px;
        height: 150px;
    }
    .section4div3img{
        width: 350px;
    }
    .section4div5{
        margin-top: 10px;
        width: 350px;
        height: 200px;                
    }
    .section4div5img{
        width: 350px;
        height: 150px;
    }
    .section4div6{
        width: 350px;
        height: 200px;
    }
    .section4div6img{
        width: 350px;
        height: 150px;
    }
    .section4div7{
        width: 350px;
        height: 200px;
    }
    .section4div7img{
        width: 350px;
        height: 150px;
    }
}
 }
@media screen and ( max-width : 388px) 
{
    .headerdestok{
        display: none;
    }
}

    



           
    


    






 

   
   
