body {
    margin: auto;
    font-family:"raleway", sans-serif ;
}
/*ceci est mon header*/
header{
    display: flex; 
    justify-content: space-between; 
}

header img{
    height: 50px;
    padding-top: 20px;   
}
ul{
    display: flex;    
    list-style: none;
}
ul li{
    margin-right: 20px;
    padding-top: 20px;
}
.bleuclair{
    color: #deebff; 
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #deebff; 
}
.bleufonce{
    color: #0065fc;
}
@media screen and ( max-width: 380px)
{
    ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap-reverse;
    }   
    .bleuclair{
        border-top: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #deebff;
    }  
}