body {
    margin: 0px;
    font-family:"raleway", sans-serif ;
    background-color:#ffffff;
}
/*Header Destok*/
.headerdestok{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
.navigation{ 
    display: flex;           
    list-style: none;   
    margin-right: 10px;      
}
.nav1{
    color: #deebff;
    border-top-style: solid;     
    margin-right: 50px; 
    padding-top: 20px;    
}
.nav2{
    margin-right: 50px;
    padding-top: 20px;
}
.nav3{
    color: #0065fc;
    padding-top: 20px;
}
.headermobile{
    display: none;    
}
/*Codage de l'article*/
.articlediv1{
    display: flex;
    align-items: center;
    list-style: none;        
    width: 30%;
    margin-top: 40px;
    }
.articlediv1div1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #deebff;
    width: 10%;
    border-radius: 10px 0px 0px 10px;
}
.articlediv1div2{
    font-weight: bold;
    border-style: solid;
    border-color: #15c6ff;
    border-width: 1px;  
    padding-top: 10px;  
    padding-bottom: 10px;
    border-left: none;
}
.articlediv1div3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #0065fc;
    color: white; 
    width: 30%;    
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}
.articlediv2{ 
    display: flex;   
    font-weight: bold;  
    width: 70%;
    justify-content: space-between; 
    padding-top: 20px;   
}
.articlediv2div{
    border-style: solid;
    border-color:#0065fc ;
    border-radius: 50px;
    border-width: 2px;
    padding-right: 5px;
}
.articlediv2divi{
    margin-right: 10px;
    color: #0065fc;
    border-radius: 50px;
    background-color: #15c6ff;
    padding: 3px;
}
.articlediv3{
    display: flex;
    justify-content: space-between;    
    width: 45%;
    border-color: black;
    border-style: solid;
    margin-top: 30px;
}
.articlediv1div4{
    display: none;
}
.articlediv3i{
    border-style: solid;    
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px;
}
.articlemobile{
    display: none;
}
/*Section 1 du Main*/
.section1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Section 2 du Main*/
.section2{
    border-style: solid;
    border-color: black;
    width: 65%;
    background-color: #deebff;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px; 
    height: 450px;   
}
.section2div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;    
}
.section2div2{
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
    width: 175px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px; 
    margin-bottom: 10px;
    box-shadow: 2px 2px 20px #0065fc;
}
.section2div3{
    display: flex;
    color: #0065fc;
    width: 175px;    
}
.section2h{
    margin: 0px;
}
.section2p{
    margin: 0px;
}
.section2 h2{
    font-size: medium;
}
.section2img{
    border-radius: 10px 10px 0px 0px;
    width: 175px;
    height: 75px;
}
.section2 i{
    font-size: xx-small;
}
.section2 h4{
    font-size: small;
}
.section2 p{
    font-size: small;
}
.section2 i{
    font-size: xx-small;
}
/*Section 3 du Main*/
.section3{
    border-style: solid;
    border-color: black;
    width: 25%;
    background-color: #deebff;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
}
.section3{
    padding-top: 10px;
}
.section3div1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.section3div1icon{
    font-size: medium;
}
.section3div3{
    display: flex;
    border-color: black; 
    border-style: solid;   
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    margin: auto;
    margin-top: 35px;
    box-shadow: 2px 2px 20px #deebff;
    padding: 5px;
}
.section3img{
    width: 60px;
    height: 75px;
    border-radius: 10px 0px 0px 10px;
}
.section3div5b{
    display: flex;
    color: #0065fc; 
    margin-top: 10px; 
}
.section3 h2{       
    font-size: medium;
    margin: 0px;
}
.section3 h4{
    font-size: smaller;
    margin: 0px;
}
.section3 p{
    font-size: small;
    margin: 0px;
}
.section3 i{
    font-size: small;
}
/*Section4 du Main*/
.section4{
    margin-bottom: 20px;
}
.section4div1{
    border-style: solid;
    border-color: black;    
    display: flex;
    justify-content: space-around;
}
.section4div2{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
    width: 200px;
}
.section4div3{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
    margin-bottom: 20px;
}
.section4div4{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
}
.section4div5{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
}
.section4div6{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
    margin-bottom: 20px;
}
.section4div7{
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 20px #deebff;
}
.section4div2img{
    width: 200px;
    height: 225px;
    border-radius: 10px 10px 0px 0px ;
}
.section4div3img{
    width: 200px;
    height: 150px;
    border-radius: 10px 10px 0px 0px
}
.section4div4img{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px
}
.section4div5img{
    width: 200px;
    height: 275px;
    border-radius: 10px 10px 0px 0px
}
.section4div6img{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px

}
.section4div7img{
    width: 200px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}
.section4 h5{
    margin: 0px 0px 0px 5px;
    font-size: smaller;
}
/*Footer*/
footer{
    background-color: #f0f0f0;  
}
footer ul{
    list-style: none;    
    padding-left: 10px;  
}
.footerb{
    border-style: solid;
    border-color: black;
    width: 250px;
}
.footerc{   
    margin-left: 10px;
}
.headermobile{
    display: none;
}
/*Site web version responsive */
@media screen and ( max-width: 380px)
/*Header version mobile*/
{
    .headerdestok{
        display: none;         
    }     
    .headermobile{
    display: flex;
     justify-content: space-between;         
    } 
    .headermobilediv1{
        color: #0065fc;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-color: #0065fc;
        width: 50%;    
   }
   .headermobilediv2{
       border-bottom-style: solid;
       border-bottom-color: #deebff;
       text-align: center;
       width: 50%;
   }
   .headermobilediv2div1{
       color: #0065fc;
       font-weight: bold;
   }
   .headermobilediv2div2{
       padding-top: 3px;
   }    
   }
   

   
   
