body {
    margin: none;
    font-family:"raleway", sans-serif ;
}
/*ceci est mon header*/
#destok
{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;

}    
header img{
    height: 50px; 
    padding-top: 20px;  
}
ul{    
    display: flex;
    list-style: none;   
    margin-right: none; 
}
ul li{
    margin-right: 20px;
    padding-top: 20px;
}
.bleuclair{
    color: #deebff; 
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #deebff;   
       
}
.bleufonce{
    color: #0065fc;    
}
.mobile {
    display: none;
}
/*Codage de l'article*/
.adestok{
    display: flex;
    list-style: none;        
    width: 30%;
    margin-top: 40px;
    }
.marker{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #deebff;
    width: 10%;
    border-radius: 10px 0px 0px 10px;
}
.marseille{
    height: 60px;  
    padding-top: 10px;
    font-weight: bold;
}
.recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #0065fc;
    color: white; 
    width: 30%;
    margin-left: 50px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}
.amobile{
    display: none;
}
/*Ceci est mon responsive*/
@media screen and ( max-width: 380px)
{
    #destok{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }  
    .hebergement{
        width: 50%;
        text-align: center;
    }

    .inscrire{
        margin-top: 40px;
        width: 50%;
        text-align: right;      
    
    }
    .heb{
        color: #deebff;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #0065fc;
        padding-bottom: 20px;}
    .ins{
        color: #0065fc;
    }        
    .act{
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #deebff;
        padding-bottom: 20px;
    }
    .adestok{
        display: none;
    }
    /*Codage du responsive article*/
    .amobile{
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 20px;        
    }
    .markermobile{
        background-color: #deebff;
        border-radius: 10px 10px 10px 10px;
    }
    .recherchemobile{
        display: flex; 
        justify-content: center;       
        color: white;
        background-color: #0065fc;
        width: 30px;
        border-radius: 20px 20px 20px 20px;
    }
    .marseillemobile{
        font-weight: bold;
    }
    }